{% extends 'shop/base.html' %}
{% load i18n %}

<!-- Posts  -->
{% block content %}
<div class="ttitle">{{ topic.title }}</div>
<div id="list">

    {% for post in posts %}
        <div class="post">
            <span class="title">{{ post.title }}</span><br />
            by {{ post.creator }} | <span class="date">{{ post.created }}</span> <br /><br />
            {{ post.body }} <br />
            <hr>
        </div>
    {% endfor %}
</div>

<!-- Next/Prev page links  -->
{% if posts and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href= "?page={{ posts.previous_page_number }}">{% trans 'previous &lt;&lt;' %} </a>
        {% endif %}

        <span class="current">
            &nbsp;{% trans 'Page' %} {{ posts.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> {% trans '&gt;&gt; next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
<a class="button" href="{% url 'reply' forum.slug topic.pk %}">{% trans 'Ответить' %}</a>
{% endblock %}
