{% extends 'shop/base.html' %}
{% load shop_extras %}
{% load mathfilters %}

{% block content %}
      
       {% for good in goods %}

         <div class="odm">
           <table style="margin-left:10px;" width="100%">
            <tr> 
                <td align ="left" width= "10%">   
                {% with good.good.images.all|first as img %}
                <img src="{{ img.image.url }}" width="50" height="50" >
               {% endwith %}
                </td>
                <td> 
                <table> 
                {{good.good.title}} <br> 
                <h4>  
                {{good.quantity}} шт. + 
                {{good.good.price}} грн. = {{good.quantity|mul:good.good.price}} грн.
                 </h4> 
               
               </table> 
               </td>
               <td align ="left" width= "10%"> 
                <a class="btn btn-default" href="{% url 'basket_delete' nn=good.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
               </td>
              </tr>
            </table>
           <hr>
         </div>  
         {% endfor %}
         <h2>
         Всего  {{goods|total}} грн.
          </h2>


       
 
{% endblock %}

{% block lewa %}
  <div class="menubok">


  </div>
{% endblock %}