{% extends 'shop/base.html' %}
{% load thumbnail %}

{% block content %}
       {% for good in goods %}
         <div class="odm">
           <table style="margin-left:10px;" width="100%">
            <tr >
             <td align ="left" width= "10%">
           {% with good.images.all|first as img %}
            
           {% thumbnail img.image "100x100" crop="center" as im %}
           
            <img class="goodimage" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" onmouseover="this.src='{{ img.image.url }}';" onmouseout="this.src='{{ im.url }}';">
            {% endthumbnail %}
           {% endwith %}
           </td>
           <td align ="left">
            <table width= "90%">
               <tr>
               <td>                
                    <h3>{{ good.title }}</h3>  
                 </td>  
                </tr>              
                <tr>
                <td>
                 {{ good.description }}
                 </td>
                </tr>
               <tr>
               <td>
                
               {{ good.price }} грн.
               </td>
                </tr>
               </td>
            </tr>
            </table>
          </table>  
            <div>
                <form method="POST" class="post-form" autocomplete="off">{% csrf_token %}
                    {{form.quantity}}
                    <input type="hidden" name="good" value="{{good.pk}}" /> 
                <button type="submit" class="save btn btn-default">Купить</button>
                </form>
            </div>
            <br>
        
           {% if user == good.user%}<a class="btn btn-default" href="{% url 'good_edit' nn=good.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %} 
           {% if user == good.user or good.user == None%}<a class="btn btn-default" href="{% url 'good_delete' nn=good.pk %}"><span class="glyphicon glyphicon-remove"></span></a>{% endif %} 

           <hr>
         </div>  
         {% endfor %}
         {% if user.is_authenticated %} 
         <form>
            {% with 'good'  as good %}
            <input type="button" value="Добавить" onClick='location.href={%url good%}'>

            {% endwith %}
         </form>
         {% endif %} 


       
 
{% endblock %}

{% block lewa %}
  <div class="menubok">
    <ul>

        <li>
            {{categories}}

        <li>

           
            {%for group in user.groups.all%}
                {%if group.name == 'admin'%}
                    
            
                    <a class="btn btn-default" href="{% url 'category' %}"><span class="glyphicon glyphicon-plus"></span></a>
                
                {%endif%}
            {%endfor%}
                
            
           
            
        </li>
            
    </ul>

  </div>
{% endblock %}