{% extends 'shop/base.html' %}

{% block content %}
<h1>Что такое микроклонирование?</h1><div style="text-align: center;">
<div style="text-align: left;"><br>
<br>
<br>
    &nbsp &nbsp Микроклональное размножение растений - один из вегетативных способов размножения. <br>
  К достоинствам данного метода относятся:<br>
    <ul>  
      <li>  низкая требовательность к растению донору: для размножения достаточно несколько живых клеток;</li>
      <li>  высокий коэфициент размножения: 1000-100000 растений за год с одного экспланта;</li>
      <li>  низкая требовательность к площади;</li>
      <li>  высокая производительность труда и много других</li>
    </ul>

</div>
<strong><br>
<br>
</strong>
</div>
{% endblock %}



{% block lewa %}


{% endblock %}
