{% extends 'shop/base.html' %}

{% block content %}
<h1>Что такое микроклонирование?</h1><div style="text-align: center;">
<div style="text-align: left;"><br>
<br>
<br>
    &nbsp &nbsp Микроклональное размножение растений - один из вегетативных способов размножения. <br>
  К достоинствам данного метода относятся:<br>
    <ul>  
      <li>  низкая требовательность к растению донору: для размножения достаточно несколько живых клеток;</li>
      <li>  высокий коэфициент размножения: 1000-100000 растений за год с одного экспланта;</li>
      <li>  низкая требовательность к площади;</li>
      <li>  высокая производительность труда и много других</li>
    </ul>

</div>
<strong><br>
<br>
</strong>
{% endblock %}



{% block lewa %}
<div class="menubok"><ul><li><a class="aktyw" href="http://www.in-vitro.pl/index.php?m0=1" tabindex="12">На главную</a></li><li><a href="http://www.in-vitro.pl/rodo.php?m0=1" tabindex="12">ИНФОРМАЦИОННАЯ ОГОВОРКА ДЛЯ ЦЕЛЕЙ GDPR</a></li><li><a href="http://www.in-vitro.pl/jakosc-roslin.php?m0=1" tabindex="12">Качество растений</a></li><li><a href="http://www.in-vitro.pl/nowehueb.php?m0=1" tabindex="12">Karl-Heinz Hübbers</a></li></ul></div><div class="menubokzdj"><a class="male" href="http://www.in-vitro.pl/oferta.php?m0=2&amp;p=7#odm94"><img src="./IN-VITRO T. Kusibab - O фирме_files/home.jpg" width="237" alt=""></a><div>азалия <a class="male" href="http://www.in-vitro.pl/oferta.php?m0=2&amp;p=7#odm94">Homebush</a></div></div>&nbsp;

{% endblock %}
